/* Login.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide scrollbar */
}

.Login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/logo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-container {
    width: 90%; /* Full width for mobile */
    max-width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.8);
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 20%;
    left: 70%;
    transform: translate(-35%, -30%);
    width: 90%; /* Full width for mobile */
    max-width: 300px;
    background-color: #f5f7f9;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease, width 0.3s ease;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; /* Wrap items on smaller screens */
}

.navbar ul li a {
    text-decoration: none;
    color: #333; /* Changed color to a darker gray */
    font-weight: bold;
    flex: 1 1 100%; /* Make links stack vertically on smaller screens */
    text-align: center;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #666; /* Changed hover color to a lighter gray */
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
    .Login-container {
        width: 95%;
        padding: 15px;
    }

    .navbar {
        top: 15%;
        left: 5%;
        transform: translate(0, 0);
        width: 90%;
    }
}
