/* Desktop view */
.navigation-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 100vh; /* Limit the maximum height of the menu to the viewport height */
}

.navigation-menu li {
  margin: 0px 20px;
}

.navigation-menu li a {
  text-decoration: none;
  color: white;
}

.active {
  color: goldenrod !important;
  font-weight: bold !important;
}

/* Mobile view */
.mobile-navigation {
  list-style: none;
  padding-left: 0;
}

.mobile-navigation li {
  margin-top: 20px;
  padding-left: 20px;
}

.mobile-navigation li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Hide menu items for smaller screens */
@media (max-width: 600px) {
  .navigation-menu {
    display: none;
  }
  
  .mobile-navigation {
    display: flex;
    flex-direction: column;
  }
  
  .mobile-navigation li {
    margin-top: 10px;
  }
}
